@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Rammetto+One&family=Racing+Sans+One&family=Monoton&family=Pacifico&family=Praise&family=Protest+Guerrilla&family=Rubik+Glitch&display=swap");
@import url('./css/panchang.css');
@import "tailwindcss";

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  scroll-behavior: smooth;
}

.hero-img {
  background-image: url("/hero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title-2 {
  opacity: 0;
  -webkit-text-stroke: 1px black;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out";
  font-family: "Times New Roman", Times, serif;
}


h1 {
  font-family: "Rubik Glitch", system-ui;
}
h3{
  font-family: "Monument Extended", sans-serif;
}
h6{
  font-family: "Italianno", sans-serif;

}
.hero-title-1 {
  font-family: "Rammetto One", sans-serif;
  font-weight: 100;
  font-style: normal;
  opacity: 0;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out 0.4s";
}
.mobile-hero {
  font-family: "Rammetto One", sans-serif;
  letter-spacing: "0.15em";
  
  opacity: 0;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out 0.4s";
}

.numbers {
  font-size: 12px;
  color: black;
  border-color: rgb(158, 158, 5);
}
.nav-text {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}
nav {
  border-color: white;
}

.voice {
  background-image: url("/V4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
.code {
  background-image: url("/V5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

/* About Section */
#horizontal .content {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
#horizontal {
  display: flex;

}
.about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #223d36;
  overflow: hidden;
}

.content {
  font-family: "Monument Extended", sans-serif;
  font-size: 3rem;
}


body {
  cursor: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='60' height='60'>\
    <circle cx='16' cy='16' r='14' stroke='gold' stroke-width='3' fill='none'/>\
    <circle cx='16' cy='16' r='3' fill='white'/>\
  </svg>") 16 16, auto;
}
a, a:hover, a:active, a:focus{
  cursor: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='60' height='60'>\
    <circle cx='16' cy='16' r='14' stroke='aqua' stroke-width='3' fill='none'/>\
    <circle cx='16' cy='16' r='3' fill='white'/>\
  </svg>") 16 16, auto;
}




