@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Praise&family=Protest+Guerrilla&family=Rubik+Glitch&display=swap");
@import "tailwindcss";

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  scroll-behavior: smooth;
}

.hero-img {
  background-image: url("/hero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




.hero-title-1 {
  text-shadow: "1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000";
  opacity: 0;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out";
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-family: "Rubik Glitch", system-ui;
  -webkit-text-stroke: 1px green;
}
h3{
  font-family: "Monument Extended", sans-serif;
}
.hero-title-2 {
  font-family: "Monoton", sans-serif;
  -webkit-text-stroke: 2px greenyellow;
  opacity: 0;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out 0.4s";
}
.mobile-hero {
  font-family: "Times New Roman", Times, serif;
  -webkit-text-stroke: 2px greenyellow;
  letter-spacing: "0.15em";
  opacity: 0;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out 0.4s";
}

.numbers {
  font-size: 12px;
  color: white;
  border-color: green;
}
.nav-text {
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}
nav {
  border-color: greenyellow;
}

.voice {
  background-image: url("/V4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
.code {
  background-image: url("/V5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

/* About Section */
#horizontal .content {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
#horizontal {
  display: flex;

}
.about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #223d36;
  overflow: hidden;
}

.content {
  font-family: "Monument Extended", sans-serif;
  font-size: 3rem;
}
.content:nth-child(1) {
  background: #95ae03;
  color: black;
}
.content:nth-child(2) {
  background: #ae4d03;
  color: white;
}
.content:nth-child(3) {
  background: #95ae03;
  color: white;
}
.content:nth-child(4) {
  background: #ae4d03;
  color: white;
}
.content:nth-child(5) {
  background: #95ae03;
  color: white;
}
.content:nth-child(6) {
  background: #ae4d03;
  color: white;
}
.content:nth-child(7) {
  background: #ae4d03;
  color: white;
}





body {
  cursor: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='60' height='60'>\
    <circle cx='16' cy='16' r='14' stroke='aqua' stroke-width='3' fill='none'/>\
    <circle cx='16' cy='16' r='3' fill='white'/>\
  </svg>") 16 16, auto;
}
a, a:hover, a:active, a:focus{
  cursor: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='60' height='60'>\
    <circle cx='16' cy='16' r='14' stroke='aqua' stroke-width='3' fill='none'/>\
    <circle cx='16' cy='16' r='3' fill='white'/>\
  </svg>") 16 16, auto;
}




