@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Anton&family=Pacifico&family=Praise&family=Protest+Guerrilla&display=swap");
@import "tailwindcss";

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  scroll-behavior: smooth;
}

.hero-img {
  background-image: url("/hero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Praise", sans-serif;
  -webkit-text-stroke: 2px orange;
}

h2 {
  font-family: "Protest Guerrilla", sans-serif;
}

.numbers {
  font-size: 12px;
}
.nav-text {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.mask-oval {
  -webkit-mask: radial-gradient(circle, transparent 0 20%, black 72%);
  mask: radial-gradient(circle, transparent 0 20%, black 72%);
}

.voice {
  background-image: url("/V4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
.code {
  background-image: url("/V5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
