@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Praise&family=Protest+Guerrilla&family=Rubik+Glitch&display=swap");
@import "tailwindcss";

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  scroll-behavior: smooth;
}

.hero-img {
  background-image: url("/hero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




.hero-title-1 {
  text-shadow: "1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000";
  opacity: 0;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out";
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-family: "Rubik Glitch", system-ui;
  -webkit-text-stroke: 1px green;
}
.hero-title-2 {
  font-family: "Monoton", sans-serif;
  -webkit-text-stroke: 2px greenyellow;
  opacity: 0;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out 0.4s";
}
.mobile-hero {
  font-family: "Rubik Glitch", system-ui;
  -webkit-text-stroke: 2px greenyellow;
  letter-spacing: "0.15em";
  opacity: 0;
  transform: "translateY(20px)";
  transition: "all 0.8s ease-out 0.4s";
}

.numbers {
  font-size: 12px;
  color: white;
  border-color: green;
}
.nav-text {
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}
nav {
  border-color: greenyellow;
}

.voice {
  background-image: url("/V4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
.code {
  background-image: url("/V5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
body {
  cursor: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='60' height='60'>\
    <circle cx='16' cy='16' r='10' stroke='white' stroke-width='2' fill='none'/>\
    <circle cx='16' cy='16' r='4' fill='white'/>\
  </svg>") 16 16, auto;
}



